@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nagarro Software Pvt. Ltd.<br />
    Gurgaon, Haryana<br />
    <abbr title="Phone">P:</abbr>
    +91 8123476543
</address>

<address>
    <strong>Web Support:</strong>   <a href="https://helpdesk.nagarro.com ">helpdesk.nagarro.com</a><br />
    <strong>Mail us at:</strong>   <a href="mailto:freshertraing@nagarro.com ">freshertraining@nagarro.com</a><br />

</address>